{% extends 'base.html' %}

{% block head %}

<title>Youtube Downloader </title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="container">
    <h1 style="text-align: center">Youtube Downloader Search</h1>

    <div class="text-center">
        <form action="/ytvdownload" method="POST">
            <input class="form-control" type="text" name="content" id="content" placeholder="https://www.youtube.com/user/<username>/videos" size="100">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    </div>
</div>
{% endblock %}